<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1 class="my-3"></h1>
   
    <div class="row g-3 py-3">
   <div class="back-to-categories"> <a class="btn btn-dark" href="/all-categories"> <- Back to all categories</a></div>
        <% if(items.length > 0){ %>
        <% items.forEach(item =>{%>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="img-div">
          <img
            src="/img/<%= item.image %>"
            class="card-img-top"
            alt="some img"
            id ="item-picture"
          />
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= item.product %></h5>
            <p class="card-text">
           <%= item.description %>
            </p>
            <p class="price">🏷 Price: <%= item['price']  %> EUR</p>
            <p class="date"><b>Posted on:</b> <%= `${item.createdAt.toLocaleDateString()}`%></p>
            <p class="time"><b>At: </b><%= `${item.createdAt.toLocaleTimeString('en-GB')} `%> </p> 
            <a href="all-items/<%= item._id %>" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
       <% }) %>
       <% }%>

  </div>
</div>

  <%- include('./partials/footer.ejs') %>
    <script>

    </script>
  </body>
</html>